<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="grmApp">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Concrete Music for Concrete People</title>
		<!-- SCROLLS -->
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
		<link rel="stylesheet" href="./css/animation.css" />
		<!-- SPELLS -->
		<script src="./js/angular.min.js"></script>
		<script src="./js/angular-route.js"></script>
		<!-- Angular audio player 
		<script src="//mrgamer.github.io/angular-media-player/dist/angular-media-player.js" type="text/javascript"></script>
		-->
		<!--Angular audio player minified -->
		<script src="//mrgamer.github.io/angular-media-player/dist/angular-media-player.min.js" type="text/javascript"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="./js/ui-bootstrap-tpls-0.6.0.js"></script>
		<script src="./js/app.js"></script>
		<script src="./js/routes.js"></script>
		<script src="./js/historyControllers.js"></script>
		<script src="./js/peopleControllers.js"></script>

	</head>

	<!-- define angular controller -->
	<body ng-controller="mainController">

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Musique concr&egrave;te!</a>
				</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#"><i class="fa fa-home"></i> Home</a>
					</li>
					<li>
						<a href="#history"><i class="fa fa-book"></i>Concr&egrave;te History</a>
					</li>
					<li>
						<a href="#people"><i class="fa fa-user"></i> Concr&egrave;te People</a>
					</li>
					<li>
						<a href="#instruments"><i class="fa fa-play"></i> Concr&egrave;te Instruments</a>
					</li>
					<li>
						<a href="#video"><i class="fa fa-youtube-play"></i> Concr&egrave;te Videos</a>
					</li>
					<li>
						<a href="#sounds"><i class="fa fa-volume-up"></i> Concr&egrave;te Sounds</a>
					</li>
				</ul>
			</div>
			</div>
		</nav>

		<div id="main">

			<div ng-view></div>

		</div>

		<footer class="text-center">
			{{footer}}
		</footer>

	</body>

</html>
