<div class="jumbotron text-center">

<h1>
	{{period}}
</h1>
<h3>
	<span>From: {{range.from}}</span> ~
	<span>To: {{range.to}}</span>
</h3>

<section>
	{{text}}
</section>

<section>
			<div ng-repeat="track in sounds.tracks">
				<h3>{{track.title}}</h3>
				<div>Composer: <a href={{track.composerPath}}>{{track.composer}}</a></div>
				<div>{{track.info}}</div>
				<div>
					<audio controls>
						<source src={{track.path}} type="audio/mp3">
						<source src={{track.path}} type="audio/ogg">
					</audio>
				</div>
			</div>
		</section>

</div>